header {
  position: relative;
  column-count: 2;
  color: midnightblue;
  font-weight: 700;
}

.container {
  border: 4px;
  border-color: lightcoral;
  /* background-color: lightblue; */
  margin: 150px;
  width: 750px;
  text-align: center;
}

#button {
  border-radius: 50px;
  margin-left: 685px;
  margin-top: 25px;
  transform: scale(2);
  background: none;
  font-size: 18px;
}

.clearfix {
  position: relative;
  margin: 100px 365px;
}

.questions {
  border: solid;
  padding: 25px;
  background-color: steelblue;
  border-color: rgb(12, 44, 87);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
